ion-toolbar {
    //--ion-background-color: black;
    --background: url(/assets/img/p2.jpg) no-repeat center center fixed;
    padding-bottom: 5px;
    color: white;
}

hr {
    //border: 2px solid red !important;
    height: 2px !important;
    width: 100% !important;
    background: gray !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
}