ion-content {
    //--ion-background-color: black;
    --background: url(/assets/img/p2.jpg) no-repeat center center fixed;
}

.style-button {
    box-shadow: 0px 1px 10px rgba(104, 255, 253, 0.59);
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-content {
    font-size: 16px;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}