<ion-content>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center style="height: 100%; flex-direction: column">
            <div *ngFor="let item of items">
                <div class="ion-activatable">
                    <ion-card class="style-button" (click)="select(item.id,item.name)" href="/home">
                        <img src="https://twelfth-guard.site/img/{{item.picture}}" height="130">
                        <ion-card-content class="card-content">
                            {{item.name}}
                        </ion-card-content>
                    </ion-card>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </div>
            <!--
            <ion-card class="style-button" (click)="select(1)" href="/home">
                <img src="/assets/img/sere.jpg" height="130">
                <ion-card-content class="card-content">
                    Serenity Condominium
                </ion-card-content>
            </ion-card>
            <ion-card class="style-button" href="/home">
                <img src="/assets/img/tf3.jpg" height="130">
                <ion-card-content class="card-content"> The Flex TownHome </ion-card-content>
            </ion-card>
            <ion-button href="/home" class="style-button" expand="block">Serenity Condominium</ion-button>
            <ion-button href="/home" class="style-button" expand="block">TheFlex TownHome</ion-button>
            -->
        </ion-row>
    </ion-grid>
</ion-content>