<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <label>ประวัติการจอดรถ</label>
        <div style="position: absolute;right: 10px;top:7px;">
            <label>{{date_now}}</label><br>
            <label>{{time}}</label>
        </div>
    </ion-toolbar>
    <ion-item style="margin-bottom:30px;padding-left:15px;padding-right:15px;z-index: 999;margin-top:-30px;background: url(/assets/img/p2.jpg) no-repeat center center fixed;">
        <ion-label>ค้นหาข้อมูลโดย</ion-label>
        <ion-select [(ngModel)]="select" (ionChange)="onChange()">
            <ion-select-option value="smart" selected>Smart Search</ion-select-option>
            <ion-select-option value="date">วันที่</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-searchbar padding placeholder="ทะเบียนรถ/ชื่อ-สกุล/บ้านเลขที่/เลขยูนิต/เบอร์โทร" style="margin-bottom:10px;position: absolute;z-index: 999;margin-top:-40px;" (keyup)='filterDatatable($event)' [hidden]="smart"></ion-searchbar>
    <ion-item style="margin-top:-30px;padding-left:15px;padding-right:15px;" [hidden]="date">
        <ion-label>เลือกวันที่</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Select Date" [(ngModel)]="changedate" (ionChange)="onChangeDate(changedate)"></ion-datetime>
    </ion-item>
</ion-header>
<ion-content padding>
    <!--<label style="color: white;">ค้นหาข้อมูล</label>
  <ion-searchbar placeholder="ทะเบียนรถ/ชื่อ-สกุล/บ้านเลขที่/เลขยูนิต/เบอร์โทร" style="margin-bottom:10px;"></ion-searchbar>
  <hr>
  <div align="center">
      <label style="color: white;">ผลการค้นหา</label>
  </div>-->
    <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" offset="0" [rowHeight]="50" [sorts]="[{prop: 'name', dir: 'desc'}]" [limit]="20" style="margin-top:10px;" [scrollbarH]="true">
        <ngx-datatable-column name="ทะเบียนรถ" [width]="130" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.licenseplate}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="cartype" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template ngx-datatable-header-template>
                <div style="text-align: center;">
                    <span>ชนิดรถ</span>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="status" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template ngx-datatable-header-template>
                <div style="text-align: center;">
                    <span>สถานะ</span>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ห้อง/ยูนิตที่มาพบ">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.description}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="วันเวลาเข้า">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.carin}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="วันเวลาออก" [resizeable]="false" [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.carout}}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</ion-content>