ion-content {
    //--ion-background-color: black;
    --background: url(/assets/img/p2.jpg) no-repeat center fixed;
}

.style-input {
    box-shadow: 0px 5px 8px rgba(104, 255, 253, 0.59);
    border-radius: 10px;
    height: 55px;
    background-color: white;
    font-size: 22px;
}

ion-input {
    --padding-end: 20px;
    --padding-start: 20px;
}