ion-toolbar {
    //--ion-background-color: black;
    --background: url(/assets/img/p2.jpg) no-repeat center center fixed;
    color: white;
    ion-row {
        padding-top: 0px;
        ion-col {
            padding: 0px 0px 0px 5px;
        }
    }
}

ion-item {
    --background: transparent !important;
    ion-label.color {
        color: white;
    }
}

hr {
    //border: 2px solid red !important;
    height: 2px !important;
    width: 100% !important;
    background: gray !important;
    display: block !important;
    //font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
}