<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <label>แก้ไขข้อมูลส่วนตัว</label>
    </ion-toolbar>
    <div style="margin-bottom:10px;position: absolute;margin-top:-30px;z-index: 999;width: 100%;">
        <ion-avatar class="image-center" slot="start" style="width:40%;height: 40%;">
            <img src="https://edmkk.com/img/{{picture}}">
            <ion-icon ios="ios-camera" md="md-camera" style="font-size: 30px;position: relative;float: right;margin-top:-20%;"></ion-icon>
        </ion-avatar>
    </div>
</ion-header>
<ion-content padding>
    <div style="margin-top:35%;">
        <!-- Inputs with labels -->
        <ion-item>
            <ion-icon ios="ios-contact" md="md-contact" style="margin-right: 10px;font-size: 34px;"></ion-icon>
            <ion-input placeholder="ชื่อ - นามสกุล" [(ngModel)]="name"></ion-input>
        </ion-item>

        <!-- Inputs with labels -->
        <ion-item>
            <ion-icon ios="ios-call" md="md-call" style="margin-right: 10px;font-size: 34px;"></ion-icon>
            <ion-input placeholder="เบอร์โทรศัพท์" [(ngModel)]="telephone"></ion-input>
        </ion-item>
        <!-- Textarea in an item with a placeholder -->
        <ion-item>
            <ion-textarea placeholder="ที่อยู่ปัจจุบัน" rows="5" [(ngModel)]="address"></ion-textarea>
        </ion-item>
        <ion-button expand="block" style="font-weight: bold;border-radius:5px;" (click)="edit()">บันทึก</ion-button>
    </div>
</ion-content>