<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <label>ค้นหาข้อมูล</label>
    </ion-toolbar>
    <ion-searchbar padding placeholder="ทะเบียนรถ/ชื่อ-สกุล/บ้านเลขที่/เลขยูนิต/เบอร์โทร" style="margin-bottom:10px;position: absolute;z-index: 999;margin-top:-40px;"></ion-searchbar>
</ion-header>
<ion-content padding>
    <!--<label style="color: white;">ค้นหาข้อมูล</label>
    <ion-searchbar placeholder="ทะเบียนรถ/ชื่อ-สกุล/บ้านเลขที่/เลขยูนิต/เบอร์โทร" style="margin-bottom:10px;"></ion-searchbar>
    <hr>
    <div align="center">
        <label style="color: white;">ผลการค้นหา</label>
    </div>-->
</ion-content>