<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <label>ค้นหาข้อมูล</label>
        <div style="position: absolute;right: 10px;top:7px;">
            <label>{{date}}</label><br>
            <label>{{time}}</label>
        </div>
    </ion-toolbar>
    <ion-searchbar padding placeholder="ทะเบียนรถ/ชื่อ-สกุล/บ้านเลขที่/เลขยูนิต/เบอร์โทร" style="margin-bottom:10px;position: absolute;z-index: 999;margin-top:-40px;" (keyup)='filterDatatable($event)'></ion-searchbar>
</ion-header>
<ion-content padding>
    <!--<label style="color: white;">ค้นหาข้อมูล</label>
    <ion-searchbar placeholder="ทะเบียนรถ/ชื่อ-สกุล/บ้านเลขที่/เลขยูนิต/เบอร์โทร" style="margin-bottom:10px;"></ion-searchbar>
    <hr>
    <div align="center">
        <label style="color: white;">ผลการค้นหา</label>
    </div>-->
    <ngx-datatable #table class="material striped" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" offset="0" [rowHeight]="50" [sorts]="[{prop: 'name', dir: 'desc'}]" [limit]="20" style="margin-top:10px;" [scrollbarH]="true">
        <ngx-datatable-column name="เบอร์โทร">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="tel(row.telephone)">
                    <ion-icon name="call"></ion-icon> {{row.telephone}}
                </a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ชื่อ-สกุล">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="เลขที่บ้าน/เลขยูนิต">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.homenumber}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ทะเบียนรถ" [width]="120" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.licenseplate}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="จังหวัด" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.province}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="สีรถ" [width]="100" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.color}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ชนิดรถ" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.cartype}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="สถานะ">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.status}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                <div style="padding: 5px 10px">
                    <div>
                        <!--Showing {{(offset * pageSize)+1}} ถึง {{(rowCount> (curPage*pageSize))?(curPage*pageSize):(rowCount)}}ทั้งหมดรวม-->{{(rowCount)}} คน
                    </div>
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="table.onFooterPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</ion-content>