<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <label>บันทึกรถเข้าออก</label>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-searchbar search-icon="" placeholder="ทะเบียนรถ" style="text-align: center;" [(ngModel)]="lecenseplate" autocomplete (keyup)='search($event)' (ionBlur)="checkBlur()" (ionFocus)="checkFocus($event)" (keyup.enter)="closeCursor()"></ion-searchbar>
    <ion-card class="filter">
        <ion-list *ngIf="isItemAvailable">
            <div *ngFor="let item of items">
                <ion-item (click)="select(item)">
                    <ion-icon ios="ios-clock" md="md-clock" style="margin-right: 10px;"></ion-icon> {{ item }}
                </ion-item>
            </div>
        </ion-list>
    </ion-card>
    <ion-item style="padding:0px 8px 0px 8px;">
        <ion-label>สถานะ :</ion-label>
        <ion-input style="text-align: right;" [(ngModel)]="status" [readonly]="true"></ion-input>
    </ion-item>
    <ion-item style="padding:0px 8px 0px 8px;">
        <ion-label>ห้อง :</ion-label>
        <ion-input placeholder="เลขที่บ้าน/เลขยูนิต" style="text-align: right;" [(ngModel)]="description" value="{{data_room}}" [readonly]="variable"></ion-input>
    </ion-item>
    <ion-item style="padding:0px 8px 0px 8px;margin-bottom:15px;">
        <ion-label>บันทึกสถานะรถ :</ion-label>
        <ion-select okText="ตกลง" cancelText="ยกเลิก" [(ngModel)]="inout" disabled="false">
            <ion-select-option value="in">รถเข้า</ion-select-option>
            <ion-select-option value="out">รถออก</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-row style="text-align: center;">
        <ion-col size="6">
            <img src="/assets/img/car_bg_text.png" (click)="SuccessAlert()">
        </ion-col>
        <ion-col size="6">
            <img src="/assets/img/bike_bg_text.png" (click)="SuccessAlert()">
        </ion-col>
        <ion-col size="3">
        </ion-col>
        <ion-col size="6">
            <img src="/assets/img/delivery_bg_text.png" (click)="SuccessAlert()">
        </ion-col>
        <ion-col size="3">
        </ion-col>
    </ion-row>
    <ion-button class="style-button" expand="block" (click)="save()">บันทึกข้อมูล</ion-button>
    <hr>

    <font align="center">
        <h5>รถที่ยังอยู่ภายในโครงการ</h5>
    </font>
    <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" offset="0" [rowHeight]="50" [limit]="10" style="margin-top:10px;" [scrollbarH]="true">
        <ngx-datatable-column name="licenseplate" [width]="80" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template ngx-datatable-header-template>
                <div style="text-align: center;">
                    <span>ทะเบียนรถ</span>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="description" [width]="115" [resizeable]="false" [canAutoResize]="false">
            <ng-template ngx-datatable-header-template>
                <div style="text-align: center;">
                    <span>ห้อง/ยูนิตที่มาพบ</span>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="carin">
            <ng-template ngx-datatable-header-template>
                <div style="text-align: center;">
                    <span>วันเวลาเข้า</span>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="time" [width]="230" [resizeable]="false" [canAutoResize]="false">
            <ng-template ngx-datatable-header-template>
                <div style="text-align: center;">
                    <span>ระยะเวลา</span>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <div style="text-align: center;">
            <ngx-datatable-column name="over">
                <ng-template ngx-datatable-header-template>
                    <span>ค่าใช้จ่าย</span>
                </ng-template>
            </ngx-datatable-column>
        </div>
    </ngx-datatable>

</ion-content>